* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

body{
    overflow-x: hidden;

}

.role{
    display: flex;
justify-content: center;
}

.homeHeading{
    margin: 20px 0;

}

.homeHeading h3{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
}

.homeHeading hr{
    box-shadow:black 1px -2px 1px;
    width: 100%;
}

.images-container{
    text-align: center;
}

.images{
    display:inline-block;
    width: 700px;
    margin: 10px;
    box-shadow: BLACK 3px 3px 10px;
}

.imgWrapper{
    display:inline-block;
    position: relative;
    width: auto;
    height: auto;
}

#soulVid{
    position: absolute;
    left: 0%;
    width: 98%;
    opacity: 0;
}


#soul{
    opacity: 1;
}


#soulVid:hover{
    opacity: 1;
    transition: all 0.5s;
}

#questVid{
    position: absolute;
    left: 0%;
    width: 98%;
    opacity: 0;
}


#quest{
    opacity: 1;
}


#questVid:hover{
    opacity: 1;
    transition: all 0.5s;
}

#evogamiVid{
    position: absolute;
    left: 0%;
    width: 98%;
    opacity: 0;
}


#evogami{
    opacity: 1;
}


#evogamiVid:hover{
    opacity: 1;
    transition: all 0.5s;
}

.flexBox{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(239, 245, 128);
    rotate: 5deg;
    opacity: 0;
    z-index: 2;
    bottom: 0%;
    right: 0%;
    transition: 0.5s;
}


.description{
    text-align: left;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
}

.role{
    font-weight: bold;
}

.title{
    font-weight: bold;
}



footer{
        margin-top: 20px;
        text-align: center;
}

footer hr{
    box-shadow:black 1px -2px 1px;
    width: 100%;
}

.smIcons img{
    margin: 20px;
}

@media (max-width: 1460px){
    .images{
        width: 500px;
    }
}

@media screen and (max-width:760px) {

    .images{
    display:inline-block;
    width: 90%;
    margin: 10px;
    box-shadow: BLACK 3px 3px 10px;
}


}
