* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

body{
    background-color: #F6F6F6;
}

.navbar { /* this affects EVERYTHING within the navbar*/
    display: flex;
    background-color: hsl(158, 100%, 32%);
    box-shadow: BLACK 5px 3px 5px;
    border-radius: 50px;
    height: 40px;
    width: 25%;
    min-width: 400px;
    justify-content: center;
    font-size: 2rem;
    position: sticky;
    top: 0%;
    z-index: 999;
    margin: 0 auto;
}

.name{
    position:fixed;
    left: 0%;
    text-align: left;

}

.navbar_container {
}

.navbar_menu{
    display: flex;
    list-style: none;
}
.navbar_links {
    color: red;
    font-size: 25px;
    text-decoration: none;
    padding: 0 1rem;
}

.soulBanner{
    width: 50%;
    display: block;
    margin: auto;
}

.soulGif{
    width: 50%;
    display: block;
    margin: 20px auto;
}

.soulPlay{
    padding: 20px 0;
    margin: 20px auto;
    text-align: center;
    background-color: #e6e2e2;
    max-width: 1300px;


}

.soulPlay h3{
    font-size: 2rem;
}

.soulPlay img{
    width: 20%;
    border-radius: 300px;
    border: 2px solid black;
}

.summaryContainer{
    padding: 20px 0;
    max-width: 1300px;
    margin: auto;
    background-color: #e6e2e2;
}

.summaryContent{
    margin: 20px 200px;
}

.rolesContainer{
    font-size: 1.5rem;
    margin: 20px 0;
    padding: 20px 0;

}


.summary{
    font-size: 1.5rem;
    text-align: left;
    word-spacing: 2px;
    line-height: 2.5rem;
}

.artContainer{
    max-width: 1300px;
    margin: auto;
    background-color: #e6e2e2;
}

.artContent img{
    width: 75%;
    display: none;
    margin: auto;

}

.artContent{
    margin: 20px 200px;
}

.artContent p{
    font-size: 1.5rem;
    text-align: left;
    word-spacing: 2px;
    line-height: 2.5rem;
    padding: 20px 0;

}

.artContent h2{
    font-size: 2.5rem;
    padding: 20px 0;
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.buttonsContainer{
    text-align: center;
    padding: 10px 0;
}

.buttonsContainer button{
    padding: 0 20px;
    width: 5%;
    min-width: 48px;
    min-height: 48px;
    color: red;
    margin: 0 20px;
}

.designContainer{
    max-width: 1300px;
    margin: auto;
    background-color: #e6e2e2;
}

.designContent{
    margin: 20px 200px;
}

.designContent p{
    font-size: 1.5rem;
    text-align: left;
    word-spacing: 2px;
    line-height: 2.5rem;
    padding: 20px 0;

}

.designContent h2{
    font-size: 2.5rem;
    padding: 20px 0;
}



.lab1Container{
    max-width: 1300px;
    margin: auto;
    background-color: #e6e2e2;
    
}

.lab1Content img{
    padding: 20px 0;
    width: 75%;
    margin: auto;

}

.lab1Content{
    margin: 20px 20px;
    position: relative;
}



.lab1Content h2{
    font-size: 2.5rem;
    padding: 20px 0;
    text-align: center;

}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#lab1{
    position: relative;
    left: 12%;
    transition: all 1s ease-in-out;

}

#lab2{
    position: absolute;
    width: 75%;
    left: 12%;
    opacity: 0;
    transition: all 1s ease-in-out;
}



.labButtonContainer{
    text-align: center;
    padding: 10px 0;
}

.labButtonContainer button{
    padding: 0 20px;
    color: red;
    margin: 0 20px;
    width: 5%;
    min-width: 72px;
    min-height: 48px;
}

footer{
        margin-top: 20px;
        text-align: center;
}

footer hr{
    box-shadow:black 1px -2px 1px;
    width: 100%;
}

.smIcons img{
    margin: 20px;
}

/* media 760 */

@media screen and (max-width:760px) { 

    .navbar { /* this affects EVERYTHING within the navbar*/
    height: 40px;
    width: 10%;
    min-width: 400px;
    }

    .name{
    display: none;
}

.soulBanner{
    width: 80%;
}

.soulGif{
    width: 90%;
}

.soulPlay{
    max-width: 760px;
}

.soulPlay h3{
    font-size: 3rem;
}

.soulPlay img{
    width: 60%;
}

.summaryContainer{
    padding: 20px 0;
    max-width: 760px;
}

.summaryContent{
    margin: 20px 20px;
}

.rolesContainer{
    font-size: 1.5rem;
}


.summary{
    font-size: 1.5rem;
}

.artContainer{
    max-width: 760px;
    margin: auto;
    background-color: #e6e2e2;
}

.artContent img{
    width: 100%;
}

.artContent{
    margin: 20px 20px;
}

.artContent p{
    font-size: 1.5rem;
}

.artContent h2{
    font-size: 3rem;
}


.designContainer{
    max-width: 760px;
}

.designContent{
    margin: 20px 20px;
}

.designContent p{
    font-size: 1.5rem;
}

.designContent h2{
    font-size: 3rem;
}

.lab1Container{
    max-width: 760px;
}

.lab1Content img{
    padding: 20px 0;
    width: 90%;
}

.lab1Content{
    margin: 20px 20px;
    position: relative;
}



.lab1Content h2{
    font-size: 2.5rem;
    padding: 20px 0;
    text-align: center;
}


#lab1{
    position: relative;
    left: 12%;
    transition: all 1s ease-in-out;

}

#lab2{
    position: absolute;
    width: 90%;
    left: 12%;
    opacity: 0;
    transition: all 1s ease-in-out;
}


}