* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

body{
    background-color: #F6F6F6;
}



.soulBanner{
    width: 50%;
    display: block;
    margin: auto;
}

.soulGif{
    width: 50%;
    display: block;
    margin: 20px auto;
}

.soulPlay{
    padding: 20px 0;
    margin: 20px auto;
    text-align: center;
    background-color: #e6e2e2;
    max-width: 1300px;


}

.soulPlay h3{
    font-size: 2rem;
}

.soulPlay img{
    width: 20%;
    border-radius: 300px;
    border: 2px solid black;
}

.summaryContainer{
    padding: 20px 0;
    max-width: 1300px;
    margin: auto;
    background-color: #e6e2e2;
}

.summaryContent{
    margin: 20px 200px;
}

.rolesContainer{
    font-size: 1.5rem;
    margin: 20px 0;
    padding: 20px 0;

}


.summary{
    font-size: 1.5rem;
    text-align: left;
    word-spacing: 2px;
    line-height: 2.5rem;
}

.artContainer{
    max-width: 1300px;
    margin: auto;
    background-color: #e6e2e2;
}

.artContent img{
    width: 75%;
    display: none;
    margin: auto;

}

.artContent{
    margin: 20px 200px;
}

.artContent p{
    font-size: 1.5rem;
    text-align: left;
    word-spacing: 2px;
    line-height: 2.5rem;
    padding: 20px 0;

}

.artContent h2{
    font-size: 2.5rem;
    padding: 20px 0;
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.buttonsContainer{
    text-align: center;
    padding: 10px 0;
}

.buttonsContainer button{
    padding: 0 20px;
    width: 5%;
    min-width: 48px;
    min-height: 48px;
    color: red;
    margin: 0 20px;
}

.designContainer{
    max-width: 1300px;
    margin: auto;
    background-color: #e6e2e2;
}

.designContent{
    margin: 20px 200px;
}

.designContent p{
    font-size: 1.5rem;
    text-align: left;
    word-spacing: 2px;
    line-height: 2.5rem;
    padding: 20px 0;

}

.designContent h2{
    font-size: 2.5rem;
    padding: 20px 0;
}


.beforeAfter img{
    display: block;
    max-width: 100%;
}

.beforeAfter{
    display: grid;
    place-items: center;
    background-color: #e6e2e2;
    max-width: 1300px;
    margin: auto;
}

.beforeAfter h2{
    font-size: 2.5rem;
    padding: 20px 0;
}

.container{
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    --position: 50%;
    margin-bottom: 20px;
}


.img-container{
    max-width: 800px;
    max-height: 90vh;
}

.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.imgbf{
    position: absolute;
    inset: 0;
    width: var(--position);
}

.slider{
    position: absolute;
    inset: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.slider:focus-visible ~ .slider-button{
    outline: 5px solid black;
    outline-offset: 3px;
}

.slider-line{
    position: absolute;
    inset: 0;
    width: .2rem;
    height: 100%;
    background-color: wheat;
    z-index: 10;
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
}

.slider-button{
    position: absolute;
    background-color: wheat;
    color: black;
    padding: .5rem;
    border-radius: 100vw;
    display: grid;
    place-items: center;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100;
    box-shadow: 1px 1px 1px black;

}


/* media 760 */

@media screen and (max-width:760px) { 

    .name{
    display: none;
}

.soulBanner{
    width: 80%;
}

.soulGif{
    width: 90%;
}

.soulPlay{
    max-width: 760px;
}

.soulPlay h3{
    font-size: 3rem;
}

.soulPlay img{
    width: 60%;
}

.summaryContainer{
    padding: 20px 0;
    max-width: 760px;
}

.summaryContent{
    margin: 20px 20px;
}

.rolesContainer{
    font-size: 1.5rem;
}


.summary{
    font-size: 1.5rem;
}

.artContainer{
    max-width: 760px;
    margin: auto;
    background-color: #e6e2e2;
}

.artContent img{
    width: 100%;
}

.artContent{
    margin: 20px 20px;
}

.artContent p{
    font-size: 1.5rem;
}

.artContent h2{
    font-size: 3rem;
}


.designContainer{
    max-width: 760px;
}

.designContent{
    margin: 20px 20px;
}

.designContent p{
    font-size: 1.5rem;
}

.designContent h2{
    font-size: 3rem;
}

.lab1Container{
    max-width: 760px;
}

.lab1Content img{
    padding: 20px 0;
    width: 90%;
}

.lab1Content{
    margin: 20px 20px;
    position: relative;
}



.lab1Content h2{
    font-size: 2.5rem;
    padding: 20px 0;
    text-align: center;
}


#lab1{
    position: relative;
    left: 12%;
    transition: all 1s ease-in-out;

}

#lab2{
    position: absolute;
    width: 90%;
    left: 12%;
    opacity: 0;
    transition: all 1s ease-in-out;
}


}